<?xml version="1.0"?>
<robot name="abb_irb14000" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find abb_irb14000_description)/urdf/Util/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find abb_irb14000_description)/urdf/Util/utilities.xacro" />
  <!--Import the abb_irb14000 macro -->
  <xacro:include filename="$(find abb_irb14000_description)/urdf/abb_irb14000.xacro"/>
  <!--Import the abb_irb14000 servo gripper macro -->
  <xacro:include filename="$(find abb_irb14000_description)/urdf/Grippers/abb_irb14000_servo_gripper.xacro"/>
  <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find abb_irb14000_description)/urdf/Gazebo/gazebo.urdf.xacro"/>


  <!--abb_irb14000-->
  <xacro:abb_irb14000 name="abb_irb14000" hardware_interface="hardware_interface/$(arg arms_interface)" parent="" >
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:abb_irb14000>

  <!--right gripper-->
  <xacro:abb_irb14000_servo_gripper name="gripper_r" hardware_interface="hardware_interface/$(arg grippers_interface)" parent="abb_irb14000_link_7_r">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:abb_irb14000_servo_gripper>

  <!--left gripper-->
  <xacro:abb_irb14000_servo_gripper name="gripper_l" hardware_interface="hardware_interface/$(arg grippers_interface)" parent="abb_irb14000_link_7_l">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:abb_irb14000_servo_gripper>


</robot>
